/* Removes any spacing between main elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Specifies background page */
body {
    background-color: #d9dcd6;
}

/* Specifies attributes for header with logo and nav links */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Differentiates logo font from nav link font */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Differentiates letter colors in logo */
.header h1 .gray-color {
    color: #d9dcd6;
}

/* sets the attributes for links in navigation section */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* sets the style for unordered list of links */
.header nav ul {
    list-style-type: none;
}

/* sets display and margin attributes for list items */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets the color and decoration of links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets the font size for general text on page */
p {
    font-size: 16px;
}

/* sets division attributes for main picture on page */
.main-section {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets position of element on left side in parent element */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets position of element on right side in parent element */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the division attributes for the summary articles */
.article-section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidates the attributes for <summary> elements in its <article> parent */
.summary-format {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidates the max height for img elements in articleSection  */
.article-section img {
    max-height: 200px;
}

/* consolidates the attributes for h2 elements in articleSection */
.article-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets the division attributes for benefits section */
.benefits-section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidates the attributes for h3 elements in benefits-section */
.benefits-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* consolidates the attributes for img elements in benefits-section */
.benefits-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets the footer font and alignment */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets the size of footer text */
.footer h4 {
    font-size: 20px;
}